.hero {
    max-width: 576px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 0px; 
    background: #2F303A;
    text-align: center; 
   
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)
    ),    
    url("../images/Img-480.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image:linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4), 
          rgba(47, 48, 58, 0.4),
        ), url('../images/Img-480x2.jpg');
    }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 960px;
    height: 400px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4),
    ), url('../images/Img-768.jpg');
    }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen (min-width: 768px) and (min-resolution: 192dpi),
screen (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    max-width: 960px;
    height: 400px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4),
    ), url('../images/Img@2x.jpg');
}
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4),
    ), url('../images/Img-1200.jpg');
    }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen (min-width: 1200px) and (min-resolution: 192dpi),
screen (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
      max-width: 960px;
      height: 400px;
      background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4),
    ), url('../images/Img-1200x2.jpg');
}
}

.hero__container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (min-width: 480px) {
    .hero__container  {
      width: 480px;
    }
  }
    @media screen and (min-width: 768px) {
        .hero__container  {
      width: 768px;
    }
  }
    @media screen and (min-width: 1200px) {
        .hero__container  {
      width: 1200px;
    }
  }

.hero__head {
  display: block;
    margin-bottom: 46px;
    font-family: var(--primary-font-family);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__head {
    font-size: 44px;
    line-height: 1.36;
  }
}


.hero__button {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
   
    color: var(--secondary-text-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
    background-color: var(--background-color); 
}
}