.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    fill: #212121;
}
.menu-button.icon-close {
    display: none;
}
.menu-button.is-open.icon-close {
    display: block;
}
.menu-button.is-open.icon-menu {
    display: none;
}

.menu-button:hover, .menu-button:focus {
    fill: #2196f3;
}

@media screen and (min-width: 768px) {
    .menu-button {
    display: none;        
}
}